* {
    padding: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: rgb(4, 4, 39);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: green;
    font-size: 1.04rem;
}

.left {
    font-size: 3vh;
    color: green;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px 0;
}

.firstSection div> {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
    margin: 70px 0;
}

.rightSection img {
    width: 80%;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.rightSection img:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 30px rgba(224, 80, 80, 0.5);
}

.pink {
    color: pink;
}
#element{
    color: rgb(143, 94, 188);

}
.secondSection{
    max-width: 80vm;
    margin: auto;
    margin: 200px 0;
    width: 30%;
}
.secondleft li a{
    text-decoration: none;
    color: azure;
    margin: 70px 0;
}
.secondleft li a:hover{
    font-size: 1.04rem;
    color: rgb(94, 226, 226);
}
#skill_title{
    background-color: rgb(19, 16, 68);
}
.skills{
background: var(--bg-color);
}
#skillscontainer{
background: rgba(6, 18, 55, 0.288);
color:var(--text-color ) ;
display: flex;
border-radius: 1rem;
padding: 2rem;
width:78%;
margin: 100px;
margin-top: 5rem;
margin-bottom: 12rem;
margin-left: 9em;
}
#skillscontainer .row {
display: grid;
grid-template-columns: repeat(5,1fr);
flex-wrap: wrap;
gap: 1.8rem;
}
#skillscontainer .bar{
margin-bottom:15px ;
padding: 10px ;
border-radius:1rem ;
background: var(--bg-color) ;
box-shadow:0 4px 10px var(--main-color) ;
transition: 0.3s ease ;
cursor: pointer;
}
#skillscontainer .bar:hover{

box-shadow:0 4px 10px pink ;
transform: scale(1.03);
}
#skillscontainer .bar .info{

display: flex;
flex-direction: column;
align-items: center;
color:rgb(130, 101, 158);
gap: 3rem;
margin-top: 1rem;
justify-content: centr;

}
#skillscontainer .bar .info:hover{
color:blueviolet;
transform: scale(0.98);
}
#skillscontainer .bar .info span{
font-size: 2rem ;
font-weight: 500;
margin-left:0.5rem ;
}

.service{
background: var(--second-bg-color);
display: flex;
justify-content: space-between;
margin-bottom: 10rem;
margin-left: 3rem;
margin-right: 3rem;
}
.services-container{
display: grid;
grid-template-columns: repeat(3,1fr);
align-items:center;
gap: 2.3rem;

}
.service-box{
background-color: rgb(6, 35, 55) ;
height: 300px;
width: 400px;
border-radius: 3rem;
cursor: pointer;
transition: 0.3s ease ;
}
.service-box:hover{
background: rgb(12, 11, 11);
color: var(--text-color);
transform: scale(1.03);
border: 1px solid var(--main-color);

}
.service-box .service-info{
display: flex;
flex-direction: column;
text-align: center;
max-height: 100px;
justify-content:center;
align-items:center;
padding: 5rem;;
}
.service-info h4{
font-size: 2.5rem;
font-weight: 500;
margin-bottom: 1rem;

}
.service-info p{
font-size:1rem ;
font-weight: 400;
max-height: 100px;
max-width: fit-content;
margin: auto;

}
footer{
    background-color: rgb(220, 220, 248);
    height: 10rem;
    margin-top: 10px;
}
footer div{
    display: flex;
    padding:10px 10px;
    justify-content:space-evenly;
}
.footer ul{
    list-style: none;
}
footer .footer-rights{
    text-align: center;
    color: grey;
    padding: 10px 0;
}
.image-insta{
    width: 70px;
}
.image-insta:hover{
    width: 75px;
}
.image-github{
    width:60px;
}
.image-github:hover{
    width:65px;
}
.image-linkedin{
    width: 50px;
}
.image-linkedin:hover{
    width: 55px;
}
.footer li a{
    text-decoration: none;
    color: rgb(240, 53, 11);
}
.footer li a:hover{
    transform: scale(1.1); 
    box-shadow: 0 0 30px rgba(224, 80, 80, 0.5);
}
.footer h3{
    color: rgb(22, 21, 21);
}